body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

header {
    display: flex;  /* Usamos flexbox para alinear los elementos horizontalmente */
    align-items: center;  /* Centra verticalmente los elementos */
    padding: 20px;
}

header img {
    width: 60px;  /* Reducción del tamaño de la imagen a 60px de ancho */
    height: 60px;  /* Forzar la altura a 60px para mantener la proporción y evitar imágenes desmesuradas */
    object-fit: contain;  /* Mantiene la proporción de la imagen */
    margin-right: 15px;  /* Espacio entre la imagen y el texto */
}

header h1 {
    font-size: 1.8em;  /* Tamaño del título */
    color: #333;       /* Color del texto */
    margin: 0;         /* Elimina márgenes innecesarios */
}
